:root {
  --primary-color: #6200ee;
  --error-color: #b00020;
  --shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08), 0 0 15px 0 rgba(0, 0, 0, 0.02),
    0 0 20px 4px rgba(0, 0, 0, 0.06);
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

input:focus {
  outline: none;
}
/*
*
*  LOGIN
*
*/

.login-container {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100%;
}

.login-form {
  display: flex;
}
.login-input {
  font-size: 2rem;
  color: var(--primary-color);
  border: none;
}
.login-input:focus {
  border-bottom: solid 0.25rem var(--primary-color);
}
.login-input::placeholder {
  color: var(--primary-color);
}
.login-error {
  color: var(--error-color);
}

/*
*
*  CHAT
*
*/

.chat-container {
  height: 100%;
  display: grid;
  grid: auto 4rem / 30% 70%;
  width: 960px;
  margin: 0 auto;
  box-shadow: var(--shadow);
}
.chat-sidebar {
  grid-row: 1 / 3;
  background-color: var(--primary-color);
}
.users-list {
  color: #fff;
  list-style-type: none;
  font-size: 1.5rem;
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.users-list-item {
  margin: 0.5rem 0;
}
.messages-container {
  padding: 2rem;
  overflow: scroll;
}
.messages {
  list-style-type: none;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  height: 100%;
}
.message {
  display: flex;
  display: flex;
  flex-flow: column;
  margin: 1rem;
  padding: 1rem;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 1rem;
  box-shadow: var(--shadow);
}
.message span {
  margin-top: 0.25rem;
}
.message-author {
  font-weight: 600;
}
.message-time {
  text-align: right;
}

.my-message {
  align-self: flex-end;
  background-color: #fff;
  color: var(--primary-color);
}

.new-message {
  grid-column: 2 / 3;
  display: flex;
  padding: 1rem;
  border-top: 2px solid #f3f5f8;
}
.new-message-input {
  font-size: 1rem;
  width: 100%;
  border: none;
}
